<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Kiosk app permissions -->
    <!-- Internet permission for WebView -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Required feature for Android TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    
    <!-- Declare this app is for TV -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/app_banner"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback.Browse"
        tools:targetApi="17">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensor"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Kiosk">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            
            <!-- Intent filter for AutoStart/Home launcher functionality -->
            <!-- Initially disabled to prevent installation conflicts -->
            <intent-filter android:priority="1" android:enabled="false">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:launchMode="singleTask"
            android:label="Kiosk Configuration"

            android:theme="@style/UpdateActivityTheme">
        </activity>



        <!-- Watchdog service for app stability -->
        <service
            android:name=".service.WatchdogService"
            android:enabled="true"
            android:exported="false" />
            
        <!-- FileProvider for APK installation on Android 11+ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kidsim.tvkiosk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>