<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <application>
        <!-- Remove the boot receiver for debug builds so it doesn't auto-launch -->
        <receiver 
            android:name=".BootReceiver"
            tools:node="remove" />
            
        <!-- Override FileProvider authority for debug builds to avoid conflicts -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kidsim.tvkiosk.debug.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
    
</manifest>